<% error = @room.errors.include?(:name) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :name, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :name, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:name) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @room.errors.include?(:line_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :line_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.select :line_id, :options => @lines %>
    <span class='help-inline'><%= error ? f.error_message_on(:line_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @room.errors.include?(:percentage) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :percentage, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :percentage, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:percentage) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:rooms, :index), :class => 'btn btn-default' %>
</div>